
.idea/dictionaries/westjb.xml
.idea/libraries/lib.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
out/**
.idea/dictionaries/westjb.xml
.idea/dictionaries/westjb.xml
*.xml
